*{
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}
.title-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  align-items: center;
}
p
{
  text-align: center;
}
.title
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.circle-container
{
  position: relative;
}
.circle
{
  position: absolute;
  height: 100%;
  width: 100%;
  border: 2px solid rgba(255, 0, 0, 0.349);
  border-radius: 50%;
  transform: rotate(-5deg);
}
.xs
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: -20px;
  right: 0;
}
.x
{
  transform: rotate(14deg);
}
.devis
{
  margin-top: 30px;
}

.options
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
}
.options label
{
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  text-align: center;
  width: 85%;
  margin: 20%;
  margin-bottom: 50px;
  border-bottom: 7px solid transparent;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.options div
{
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.options div span{
  position: absolute;
  bottom: 0px;
  font-size: 12px;
  color: rgb(153, 153, 153);
}


input[type="radio"]:checked ~ label
{
  border-bottom: 7px solid red;
}



input[type="radio"]
{
  display: none;
}